<!DOCTYPE html>
<html lang="en">
<style>
    body {

        color: navy;
        text-align: center;
    }

    .title {
        width: 300px;
        background-color: navy;
        color: coral;
        margin: 0 auto;
        text-align: left;
        border-radius: 6px;
    }

    .book {
        margin-top: 16px;

    }

    .prici {
        font-weight: bold;
        font-size: 24px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>書籍首頁</title>
</head>

<body>
    <h1>書籍列表</h1>
    {% for key in books %}
    <div class="book">
        <h2 class="title">編號:{{key}}<br>
            書名:{{books[key]["name"]}}</h2>
        <p class="price">價格:
            <span>
                ${{books[key]["price"]}}
            </span>
        </p>
        <img src="{{books[key]['image_url']}}" alt="">
        <hr>
    </div>

    <br>



    {% endfor %}



</body>

</html>