<!DOCTYPE html>
<html lang="en">
<style>
    .time {
        background-color: navy;
        color: coral;
        border-radius: 12px;
        display: inline-block;
        padding: 6px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <h1>Hello {{name}}</h1>
    <b class="time">現在時間:{{time}}</b><br>
    <a href="/pm25-charts">PM25圖表區</a>
</body>

</html>